<div id = "availablemilkfront" class = "col-sm-12 col-md-12 col-lg-12">
    <div class = "container-fluid">
        <%= image_tag ('white_logo.png'), class: 'frontlogo' %>
        <div class = "frontimg"></div>
        <div class = "frontinfo">
            <h1>Get Breast Milk for your Baby!</h1>
            <h2>Online Breast Milk Delivery Service</h2>
        </div>
    </div>
    <%= link_to 'AVAILABLE MILK IN TOWN', milks_path, class: "btn btn-default btn-lg frontlink" %>
    <div class = "container-fluid generaldiv">
        <div class = "goal">
            <h1>Our Goals</h1>
            <p> In the United States, more than 8 in 10 mothers (81.1 percent) begin breastfeeding their babies at birth – unfortunately, not all moms were able to breastfeed their babies. Then there are some moms who are lucky to produce large amount of milk which they can put in a storage/freezer for latter consumption. Sure they can give it to a milk bank but they are not compensated for their time, effort or the money for the pump and supplies, even though the bank can turn it for a big profit by selling at an exuberant price. At Milkita-kita, not only we are supporting the government’s breastfeeding advocacy that breastmilk is good till 2 years of age but we also strive to give mommies and babies a family friendly place where they can find alternative source of breast milk but also a source of income for mothers.

             </p>
        </div>
        
        <div class = "info">
            <h1>Why Milkita-kita?</h1>
            <h3>Post an ad and help babies get breastmilk.</h3>
            <li>Want to donate breast milk to a fellow mother?</li>
            <li>Considering selling or donating to a needy baby?</li>
            <li>Need natural breastmilk for your growing baby?</li>
            <li>Do you believe breastfeeding is best?</li>
            <li>Are you over producing and want to list your liquid gold for sale?</li>
            <li>Looking to make a few extra bucks while clearing out your freezer?</li>
        </div>
        
        <div class = "team">
            <h1>Our Team</h1>
            <%= image_tag ('atechell.jpg'), class: 'atechell' %>
            <%= image_tag ('memeh2.png'), class: 'memeh2' %>
        </div>
    </div>
</div>


