<h1>About</h1>

<p>
In the United States, more than 8 in 10 mothers (81.1 percent) begin breastfeeding their babies at birth – but many stop earlier than is recommended, according to the 2016 Breastfeeding Report Card released today by the Centers for Disease Control and Prevention (CDC).

At Milkita-kita, not only we are supporting the government’s breastfeeding advocacy that breastmilk is good till 2 years of age but we also strive to give mommies and babies a family friendly place where they can find alternative source of breast milk.

Benefits are as follows:

For moms who do not have the capability to breastfed due to lack of milk supply
For working moms out there who don’t have enough time to pump in office or breasfed their babies </p>
